<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Utility-Milk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="#">Milk Details</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div th:if="${not #lists.isEmpty(milkDetails)}">
        <h2>Milk Details</h2>
        <table class="table table-striped">
            <tr>
                <th>Date</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tr th:each="milkDetail : ${milkDetails}">
                <td th:text="${milkDetail.date}"></td>
                <td th:text="${milkDetail.price}"></td>
                <td th:text="${milkDetail.quantity}"></td>
            </tr>
            <tr>
                <th>TOTAL</th>
                <td th:text="${total}"></td>
                <td></td>
            </tr>
        </table>
    </div>
    <!--<div th:else="">
        <h2>No Data available</h2>
    </div>-->

</div>
<!-- /.container -->

<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js" />

</body>
</html>